/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Reenie Beanie', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Shadows Into Light', cursive; */

body {
  background-color: paleturquoise;
  font-family: Reenie Beanie, cursive;
}
