/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Reenie Beanie', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Shadows Into Light', cursive; */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Reenie Beanie", cursive;
  background-image: url(/static/images/pexels-dawn-lio-2177813.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f1d2a9;
}

#about-page {
  background-image: url(/static/images/curtainsdown.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#petty-quote {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

#about-page nav {
  background: transparent;
}

.login {
  background-image: url(/static/images/emptyseats.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.signup {
  background-image: url(/static/images/soundboard.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 1 0 auto;
  font-family: "Reenie Beanie", cursive;
}

.about {
  font-family: Karla, sans serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.welcome {
  text-align: center;
  color: #e6dfd6;
}

footer {
  padding-top: 0;
  text-align: right;
}

.contact-links {
  color: white;
}

#header-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

nav {
  background-color: #f1d2a9;
  box-shadow: 5px;
}

/* Livestream index page - show info side of card */

.card-stacked {
  background-color: #618696;
  font-family: "Reenie Beanie", cursive;
  box-shadow: 10px 5px 5px 10px rgba(65, 62, 62, 0.5);
}

.card-panel {
  background-color: #b1d7ec;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  background-image: url(/static/images/marjanblan-5Ft4NWTmeJE-unsplash.jpg);
  box-shadow: 10px 5px 5px 16px rgba(65, 62, 62, 0.5);
  color: black;
}

#livestream-description {
  font-family: "Karla", sans-serif;
}

#livestream-date {
  font-family: "Karla", sans-serif;
}

#livestream_img {
  padding: 10px;
  display: block;
  margin: 0 auto auto 0;
  height: 320px;
  width: 430px;
}

form {
  width: 450px;
  margin-left: 50px;
}

input,
textarea {
  color: black;
  font-size: 15px;
  font-family: "Karla", sans-serif;
}

/* Form tags on post input form */

.login label {
  color: black;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Reenie Beanie", cursive;
  font-size: 50px;
  background: transparent;
}

label {
  color: orange;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: "Reenie Beanie", cursive;
  font-size: 30px;
  text-transform: uppercase;
  background: transparent;
}

.login-form {
  margin-left: 220px;
  margin-top: 310px;
}

.signup input {
  color: white;
}

.login input {
  color: white;
}

#show-text {
  color: antiquewhite;
}

.post-btn {
  font-family: "Reenie Beanie", cursive;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #edb66d;
}

.post-form {
  color: black;
}

/* Post Index page */

#post-index {
  background-image: url(/static/images/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg);
  box-shadow: 10px 5px 5px 16px rgba(65, 62, 62, 0.5);
  margin-top: 40px;
  font-size: 20px;
  font-family: karla, sans serif;
  font-weight: bolder;
}

#posted-by {
  color: #923d05;
}

#nav-title {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  color: #923d05;
}

.nav-links {
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  color: #923d05;
}

.page-footer {
  background-color: transparent;
  box-shadow: none;
}

.card {
  border: 5px;
  background: transparent;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

/* Resources  */

.resource-description {
  font-family: Karla, sans serif;
  color: antiquewhite;
}

#resources-title {
  font-size: 40px;
  color: #e7c8a0;
}

#resources-link {
  font-size: 25px;
  color: #f1d2a9;
}
