{% extends 'base.html' %}
{% load static %}
{% block content %}
<container class="show-post">
<h1>About this Gig</h1>
<div class="post-description">
<span><a href="{% url 'show_post' post.id %}"></a></span>

<h2 id="show-text">Job Title: {{ post.title }}</h2>

<h3 id="show-text">Location: {{ post.city }} </h3>

<h4 id="show-text">Start Date: {{ post.start_date }} </h4>

<h4 id="show-text">Description: {{ post.description }}</h4>

<h4 id="show-text">Contact: {{ post.contact }}</h4>

<h6 id="show-text">Added by {{post.posted_by}}</h6>

<h6id="show-text">Posted on: {{post.added_date}}</h6>

{% if post.posted_by.id == request.user.id %}
<div class="card-action">
    <a href="{% url 'delete_post' post.id %}" class="btn">Delete</a>
    <a href="{% url 'edit_post' post.id %}" class="btn">Edit</a>

</div>
</div>
{% endif %}

</container>

{% endblock %}