{% extends 'base.html' %}
{% block content %}

<h1>About this Gig</h1>
<hr />

<span><a href="{% url 'show_post' post.id %}"></a></span>

<h4>Job Title: {{ post.title }}</h4>

<h3>Location: {{ post.city }} </h3>

<h4>Description: {{ post.description }}</h4>

<p>Added by {{post.posted_by}}</p>

<p>Posted on: {{post.added_date}}</p>

{% if post.posted_by.id == request.user.id %}
<div class="card-action">
    <a href="{% url 'delete_post' post.id %}" class="btn-small red">Delete</a>
</div>

 
{% endif %}



{% endblock %}