{% extends 'base.html' %}
{% load static %}
{% block content %}
<container class="show-post">
<h1>About this Gig</h1>
<hr />
<div class="post-description">
<span><a href="{% url 'show_post' post.id %}"></a></span>

<h2>Job Title: {{ post.title }}</h2>

<h3>Location: {{ post.city }} </h3>

<h4>Start Date: {{ post.start_date }} </h4>

<h4>Description: {{ post.description }}</h4>

<h6>Added by {{post.posted_by}}</h6>

<h6>Posted on: {{post.added_date}}</h6>

{% if post.posted_by.id == request.user.id %}
<div class="card-action">
    <a href="{% url 'delete_post' post.id %}" class="btn">Delete</a>
    <a href="{% url 'edit_post' post.id %}" class="btn">Edit</a>

</div>
</div>
{% endif %}

</container>

{% endblock %}