{% extends 'base.html' %} {% block content %}
<body class="signup">
<h2>SIGN UP HERE</h2>

{% if error %}
<p>{{ error }}</p>
{% endif %}

<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required maxlength="25" minlength="2" />
    </p>

    <p>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required maxlength="25" minlength="2" />
    </p>

    <p>
        <label for="email">Email:</label>
        <input type="email" name="email" required maxlength="25" minlength="2" />
    </p>

    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" required maxlength="25" minlength="2" />
    </p>

    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" required maxlength="25" minlength="4" />
    </p>

    <p>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" required maxlength="25" minlength="4" />
    </p>

    <input class='btn' type='submit' value="Submit">

</form>

</body>


{% endblock %}