{% extends 'base.html' %}

{% block title %}
Livestreams
{% endblock %}

{% block content %}

<h1>Livestreams</h1>

<div class="column">
    {% for livestream in livestreams %}
    <div class="col s12 m6">

        <div class="card horizontal">
            <div class="card-image">
                <img src="https://cdn.shopify.com/s/files/1/1664/3789/products/12.11SK_sHolidayBash12.30YearinReview_1024x1024@2x.png?v=1606086696">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h2>{{ livestream.artist }}</h2>
                    <h4>{{ livestream.title }}</h4>
                    <h6> {{ livestream.date }} </h6>
                    <p>{{ livestream.description }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ livestream.livestream_link }}">Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>

<div class="col s12 m6">

    <div class="card horizontal">
        <div class="card-image">
            <img
                src="https://cdn.shopify.com/s/files/1/1664/3789/products/12.11SK_sHolidayBash12.30YearinReview_1024x1024@2x.png?v=1606086696">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h2>{{ livestream.artist }}</h2>
                <h4>{{ livestream.title }}</h4>
                <h6> {{ livestream.date }} </h6>
                <p>{{ livestream.description }}</p>
            </div>
            <div class="card-action">
                <a href="{{ livestream.livestream_link }}">Buy Tickets</a>
            </div>
        </div>
    </div>
</div>

</div>
{% endfor %}

{% endblock %}