{% extends 'base.html' %}
{% block content %}

<body id="about-page">

<h1>Our Mission:</h1>
<div class="about">
<p>The live music touring industry grosses tens of billon of dollars annually worldwide.</p>



<p>March 2020 saw virtually all major tours and festivals either cancelled or postponed, with the hopes of returning in
2021. Touring is the largest piece of revenue for musical acts, but it's not just the musicians that are affected. </p>


<p>As these venues and festivals have been shuttered, countless workers that depend on live music for their
income are now out of work. </p>


<p>With Roadie Relief, we hope to create an online community where touring crew can share work available in cities across the US, as well as online resources offering grants or other assistance. </p>

<p>And, in an effort to support our artists, we have a page dedicated to upcoming livestreams and virtual events related to the touring industry.</p>


<p>We hope this site is able to bring some much needed relief and resources to our touring family. </p>


</div>
</body>
{% endblock %}