{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}


<div class="welcome"><h1>Welcome to Roadie Relief</h1>
<a href="{% url 'about' %}"><h3 class="welcome">Click to read our story...</h3></a>
</div> 
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h4 id="petty-quote">"I think the general public has
no idea what roadies do.
Bless 'em all. I just play the songs.
They make the show happen.”
- Tom Petty</h4>
<main class="video-container">
    <video autoplay muted loop id="header-video">
        <source src="/static/videos/production ID_3975494.mp4" type="video/mp4">
    </video>
</main>

{% endblock %}