{% extends 'base.html' %}
{% block content %}

<h1>Resources</h1>



<div class="column">
    {% for resource in resources %}
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title" id="resources-title">{{ resource.title }}</span>
                <p class="resource-description">{{ resource.description }}.</p>
            </div>
            <div class="card-action">
                <a href="{{ resource.resource_link }}">Visit Site</a>
                
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}